{% extends 'base.html.twig' %}

{% block title %} Modification de votre compte{% endblock %}

{% block body %}
    {% block content %}
        <div class="container">
            <h1>- Modification de votre compte -</h1>
            <hr>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <div class="row">

                <h1> Mes annonces : </h1>

            </div>
        </div>

    {% endblock %}
{% endblock %}