<h1>Confirmation de votre enregistrement sur le site mameilleureoffre.be</h1>
<h2>veuillez cliquer sur le lien ci-dessous</h2>

<a href="{{ url('account_confirm', {token:tempUser.token , type:tempUser.type}) }}">Je confirme mon inscription</a>