{% extends 'base.html.twig' %}

{% block title %} Modification de votre mot de passe{% endblock %}

{% block body %}
    {% block content %}
        <div class="container">

            <h1>- Modification de votre mot de passe -</h1>
            <hr>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}


        </div>

    {% endblock %}
{% endblock %}