{% extends 'base.html.twig' %}



{% block body %}
    {% block content %}
        <div class="container">
            <h1>- Création d'une annonce -</h1>
            <hr>
            <div class="row">


            </div>
        </div>

    {% endblock %}
{% endblock %}
