{% extends 'base.html.twig' %}



{% block body %}
    {% block content %}
        <div class="container">
            <h1>- Détail de la demande -</h1>
            <hr>
            <div class="row">
                {% set d = demand.customer %}

                <h2>{{ demand.title }}</h2>
                <p>{{ demand.description|raw }}</p>


                <h3>Demandeur : </h3>

                <a href="{{ path('user_show',{'id':demand.customer.id}) }}"><h4>{{ d.fullName}}</h4></a>


            </div>
        </div>

    {% endblock %}
{% endblock %}
